<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183945602171-buh9k45qn02ilpfdogic9skinbmpdbp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183945602171-buh9k45qn02ilpfdogic9skinbmpdbp5</string>
	<key>API_KEY</key>
	<string>AIzaSyA3wDxwv9J87MRqXRzSJISmRw4Hu0GEj8g</string>
	<key>GCM_SENDER_ID</key>
	<string>183945602171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bd8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bd8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183945602171:ios:9292bd1218d24540f86ede</string>
</dict>
</plist>